# load gdb helper commands and functions for Linux kernel debugging
add-auto-load-safe-path ./linux/scripts/gdb/vmlinux-gdb.py

# kernel to debug
file ./linux/vmlinux

# gdb target (qemu) address
target remote localhost:1234

# add the sample module symbols
add-symbol-file initramfs/rust_sample_module.ko 0xFFFFFFFFA0000000

# break at the init
hbreak rust_minimal::{impl#0}::init

continue
