# load gdb helper commands and functions for Linux kernel debugging
add-auto-load-safe-path ./source/scripts/gdb/vmlinux-gdb.py

# kernel to debug
file ./source/vmlinux

# gdb target (qemu) address
target remote localhost:1234

#lx-symbols 

# add the sample module symbols (TODO: document why 0xFFFFFFFFA0000000)
add-symbol-file rust_sample_module.ko 0xFFFFFFFFA0000000

# break at the init
hbreak rust_minimal::{impl#1}::init

continue
